extends layout/page-layout

block content
  h1 administration
  a(href="/admin/news/new") new article
  ul
    each article in articles
      li
        a(href="/admin/news/#{article.slug}") #{article.title}
        span #{article.createdAt}
        div !{marked(article.content)}
        hr
