extends ../layout/page-layout

block content
  ul
    each article in articles
      li
        a(href="/article/edit/#{article.slug}") #{article.title}
        if article.author.id
          span &nbsp;by&nbsp;
          b #{article.author.username}
        span &nbsp;#{article.createdAt}
        hr