extends ../layout/page-layout

block content
  each article in articles
    article
      h2
        a(href="/article/edit/#{article.slug}") #{article.title}
        small
          if article.author.id
            span &nbsp;by&nbsp;
            b #{article.author.username}
          span &nbsp;#{moment(article.createdAt).fromNow()}
      hr