
extends ../layout/page-layout

block content
  unless article
    h1 new article
  else
    h1 edit article
  form(method="POST", action="/article/edit")
    if article
      input(type="hidden", name="_id", value="#{article._id}")

    .form-group
      label(for="title") Title of the article
      input(placeholder="title", name="title", value="#{article ? article.title : ''}")
    .form-group
      label
        if article && article.published
          input(type="checkbox", name="published", checked)
        else
          input(type="checkbox", name="published")
        | published
    .form-group
      label(for="title") Content of the article
      textarea(placeholder="Content here...", name="content") #{article ? article.content : ''}
    .form-group
      input(type="submit", value="submit")