extends ../layout/base-layout

block page
  .container.login-view
    h1.text-center login
    form(method="post", action="/admin/login")
      .form-group
        label(for="username") username
        input(type="text", placeholder="username", name="username")
      .form-group
        label(for="username") password
        input(type="password", placeholder="password", name="password")
      .form-group.text-center
        input(type="submit", value="connect")